[submodule "caret"]
	path = caret
	url = https://github.com/akiyama-lab/caret.git
	branch = alb-framework
[submodule "AW-Runtime-Verification"]
	path = AW-Runtime-Verification
	url = https://github.com/duongtd23/AW-Runtime-Verification
[submodule "AWSIM-Labs"]
	path = AWSIM-Labs
	url = https://github.com/duongtd23/AWSIM-Labs.git
[submodule "autoware"]
	path = autoware
	url = https://github.com/autowarefoundation/autoware.git
[submodule "caret_report"]
	path = caret_report
	url = https://github.com/akiyama-lab/caret_report.git
	branch = alb-framework
